/* MOBILE PORTRAIT*/
@media only screen and (max-width: 767px) and (orientation : portrait) {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        background-color: #B4B4B4;
        color: white;
        font-weight: 600;
        font-size: 1.7em
    }

    .icon {
        position: absolute;
        left: 0px;
        top: 25px;
        height: 30px;
        margin-left: 1em;
    }

    .textDiv {
        position: absolute;
        left: 100px;
        width: 70%;
    }

    .img {
        margin-top: 10px;
        margin-right: 0.4em;
        height: 60px;
    }

    .btn {
        border: 0;
        background-color: #B4B4B4
    }    
}

/* MOBILE LANDSCAPE*/
@media only screen and (max-width: 767px) and (orientation : landscape) {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        background-color: #B4B4B4;
        color: white;
        font-weight: 600;
        font-size: 1.7em
    }

    .icon {
        position: absolute;
        left: 0px;
        top: 25px;
        height: 30px;
        margin-left: 1em;
    }

    .textDiv {
        position: absolute;
        left: 100px;
        width: 70%;
    }

    .img {
        margin-top: 10px;
        margin-right: 0.4em;
        height: 60px;
    }

    .btn {
        border: 0;
        background-color: #B4B4B4
    } 
}

/* TABLET PORTRAIT*/
@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation : portrait) {

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        background-color: #B4B4B4;
        color: white;
        font-weight: 600;
        font-size: 1.7em
    }

    .icon {
        position: absolute;
        left: 0px;
        top: 25px;
        height: 30px;
        margin-left: 1em;
    }

    .textDiv {
        position: absolute;
        left: 100px;
        width: 70%;
    }

    .img {
        margin-top: 10px;
        margin-right: 1em;
        height: 65px;
    }

    .btn {
        border: 0;
        background-color: #B4B4B4
    } 
}

/* TABLET LANDSCAPE*/
@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation : landscape) {

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        background-color: #B4B4B4;
        color: white;
        font-weight: 600;
        font-size: 1.7em
    }

    .icon {
        position: absolute;
        left: 0px;
        top: 25px;
        height: 30px;
        margin-left: 1em;
    }

    .textDiv {
        position: absolute;
        left: 100px;
        width: 70%;
    }

    .img {
        margin-top: 10px;
        margin-right: 1em;
        height: 65px;
    }

    .btn {
        border: 0;
        background-color: #B4B4B4
    }
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        background-color: #B4B4B4;
        color: white;
        font-weight: 600;
        font-size: large;
    }

    .icon {
        position: absolute;
        left: -50px;
        height: 15px;
        margin-left: 1em;
    }

    .textDiv {
        position: absolute;
        left: 10px;
        width: 93%;
        margin-left: 10px;
    }

    .img {
        margin-top: 5px;
        margin-right: 1em;
        height: 45px;
    }

    .btn {
        border: 0;
        background-color: #B4B4B4
    } 
}